@import '../Variables_Mixins/Variables_Mixins.scss';


.header-container {
  @include flexbox(row, center, center);
  width: 100%;
  gap: 700px;
  margin-top: 45px;
  margin-bottom: 50px;

  .header-logo {
    display: flex;
    width: 210px;
    height: 68px;
    padding: 20px 0px;
  }

  .header-link {
    @include flexbox(row, flex-start, center);
    gap: 57px;

    .text-link {
      @include font-montserrat-500(24px, $primary-color, 142.6%);
      width: 136px;
      text-align: right;
      text-decoration: none;

      &.active {
        text-decoration-line: underline;
      }
    }
  }
}
