@import '../Variables_Mixins/Variables_Mixins.scss';

.collapse-container-apropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px
}
    
