@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cards-container {
  background: #f6f6f6;
  width: 1240px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 43px 0;
  padding: 40px 0;
}
.cards-container .card-content {
  width: 340px;
  height: 340px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-basis: calc(33.33% - 10px);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.cards-container .card-content:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: blur(0.8px);
}
.cards-container .card-content .card-cover {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  mix-blend-mode: darken;
  filter: brightness(0.85);
}
.cards-container .card-content .card-title-container {
  position: absolute;
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  top: 275px;
}
.cards-container .card-content .card-title-container .card-title {
  font-size: 18px;
  color: white;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}

.collapse-container {
  width: 1023px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  margin-bottom: 38px;
}
.collapse-container .collapse-title {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
}
.collapse-container .collapse-title p {
  font-size: 24px;
  color: white;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  margin: 10px 0 10px 15px;
}
.collapse-container .collapse-title button {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 30px;
  margin-right: 20px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}
.collapse-container .collapse-title button:hover {
  scale: 1.2;
}
.collapse-container .collapse-title button.close {
  transform: rotate(0deg);
}
.collapse-container .collapse-title button.open {
  transform: rotate(180deg);
}
.collapse-container .collapse-content {
  width: 100%;
  font-size: 18px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: none;
  font-style: normal;
  font-family: "Montserrat";
  background-color: #f6f6f6;
  border-radius: 5px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.collapse-container .collapse-content.close {
  max-height: 0;
}
.collapse-container .collapse-content.open {
  max-height: 500px;
}
.collapse-container .collapse-content p {
  padding: 20px;
}

.footer-container {
  background-color: black;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 66px 0 29px 0;
}
.footer-container .footer-logo {
  width: 122px;
  height: 39.444px;
}
.footer-container .footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 513px;
  height: 46px;
  padding-top: 29px;
}
.footer-container .footer-text-container .footer-text {
  font-size: 24px;
  color: white;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 700px;
  margin-top: 45px;
  margin-bottom: 50px;
}
.header-container .header-logo {
  display: flex;
  width: 210px;
  height: 68px;
  padding: 20px 0px;
}
.header-container .header-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 57px;
}
.header-container .header-link .text-link {
  font-size: 24px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  width: 136px;
  text-align: right;
  text-decoration: none;
}
.header-container .header-link .text-link.active {
  text-decoration-line: underline;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.background-container .background-img {
  position: relative;
  border-radius: 25px;
  opacity: 1;
  width: 1240px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
  filter: brightness(0.75);
}
.background-container .background-title {
  font-size: 48px;
  color: white;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  position: absolute;
}

.error404 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 139px;
}
.error404 .error404-title {
  width: 597px;
  height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 288px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  padding-top: 50px;
}
.error404 .error404-subtitle {
  font-size: 36px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}
.error404 .error404-text-container {
  margin-bottom: 139px;
}
.error404 .error404-text-container .error404-text {
  font-size: 18px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  text-decoration-line: underline;
  cursor: pointer;
}

.carousel {
  position: relative;
  margin-bottom: 30px;
}
.carousel .previousButton {
  position: absolute;
  z-index: 2;
  height: 415px;
  background: none;
  font-size: 70px;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.carousel .previousButton:hover {
  transform: scale(1.1);
}
.carousel .carousel-container {
  border-radius: 25px;
  width: 1240px;
  position: relative;
  height: 415px;
}
.carousel .carousel-container .carousel-img {
  height: 415px;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.5s ease 0s;
  width: 100%;
}
.carousel .carousel-container .carousel-img .setImg {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .nextButton {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  height: 415px;
  background: none;
  font-size: 70px;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.carousel .nextButton:hover {
  transform: scale(1.1);
}
.carousel .carousel-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 0px;
  z-index: 2;
  width: 100%;
  font-size: 18px;
  color: white;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}

.title-Logement h1 {
  font-size: 36px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}
.title-Logement p {
  font-size: 18px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}

.collapse-container-apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}

.main-logement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */