@import '../../Variables_Mixins/Variables_Mixins.scss';

.first-container {
  @include flexbox(row, space-between, none);
}

.second-container {
  display: flex;
  justify-content: space-between;

  .collapse-container {
    width: 580px;
  }
}

@media screen and (min-width: 375px) and (max-width: 1100px) {
  .fiche-logement-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-container {
      width: 335px;
      flex-direction: column;
      margin: 0px;

      .logement-profil-mobile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 335px;
        margin-bottom: 13.5px;
        gap: 25px;
      }
    }

    .second-container {
      flex-direction: column;
      width: 335px;

      .collapse-container {
        width: 335px;

        ul {
          padding: 0;
          margin: 5px 0;
        }
        
      }
    }
  }
}
